<div class="flex justify-center mt-10">
  <div class="card bg-base-100 w-96 shadow-xl border border-base-200">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-4">Neues Buch anlegen</h2>

      <form>

        <div class="fieldset">
          <label class="fieldset-label">Buchtitel</label>
          <input type="text" placeholder="z.B. Harry Potter" class="input input-bordered w-full" />
        </div>

        <div class="fieldset mt-4">
          <label class="fieldset-label">Autor</label>
          <input type="text" placeholder="z.B. J.K. Rowling" class="input input-bordered w-full" />
        </div>

        <div class="fieldset mt-4">
          <label class="fieldset-label">ISBN</label>
          <input type="text" placeholder="978-3-..." class="input input-bordered w-full" />
        </div>

        <div class="fieldset mt-4">
          <label class="fieldset-label">Preis (€)</label>
          <input type="number" placeholder="0.00" class="input input-bordered w-full" />
        </div>

        <div class="card-actions justify-end mt-6">
          <button class="btn btn-ghost">Abbrechen</button>
          <button class="btn btn-primary">Speichern</button>
        </div>

      </form>
    </div>
  </div>
</div>
